DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=puru8975
DB_NAME=grocery_db

CORS_ORIGINS=http://localhost:5173,https://smart-grocery-tracking-system.vercel.app,https://smart-grocery-tracking-system-atso8z16g.vercel.app

GOOGLE_CREDENTIALS_PATH=credentials.json
GOOGLE_SHEET_NAME=GroceryData

GMAIL_SENDER=purushottamnaidu897@gmail.com
GMAIL_APP_PASSWORD=gfnohjjmwukiwxbt
GMAIL_RECIPIENT=purushottamnaidu897@gmail.com
